@page "/"
@inject ProjectUpdateRepository ProjectUpdateRepository

<h3>Project Updates</h3>
<div class="width-425px">
    @if (projectUpdates == null)
    {
        <p><em>Loading updates...</em></p>
    }
    else
    {
        @foreach (var update in projectUpdates)
        {
            <p>@update.Title</p>
            <p>@update.Url</p>
            <p>@update.Description</p>
        }
    }
</div>

@code {
    private List<ProjectUpdate> projectUpdates;

    protected override async Task OnInitializedAsync()
    {
        projectUpdates = await ProjectUpdateRepository.GetTop3ProjectUpdates();
    }
}